.formulario{
  
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.logo-img{
    width: 40%;
    height: auto; 
    margin-left: 28%;
}

button{
    margin: 10px;
}

.btn-custom01{
    background-color: #CD5C5C;
}